body{
  background-color: rgb(206, 255, 255);
}
.App {
  text-align: center;
  margin-top: 20%;
}
label{
  display: block;
}
input{
  height: 30px;
  width: 180px;
}
button{
  width: 80px;
  height: 30px;
  border: none;
  margin-top: 20px;
  background-color: blue;
  color: white;
}