body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	background-color: #f0f2f5;
  }
  
  /* .flexlogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  } */
  
  .main-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  }

  .main-container{
	width:900px;
	height: 600px;
	background: url(imgBack-2.jpg) no-repeat;

}
.flexlogin{
	display: flex;
	flex-direction: row;
}
  @media (max-width: 600px) {
	.main-container {
	  width: 90%;
	}
  }
  